<?xml version="1.0"?>
<qlicserverConfig>
<!--
   | Map resource names (complexes) to values (features)
   | served by the license manager(s).
   | Resources without a "served" attribute are considered internal
   | Resources with type "track" are reported but not managed
   | The urgency is how much extra weight to give to particular resources.
   | If a 'slot' is weighted with 1000, we can give an extra 10% to
   | a few resources. [Format: INTEGER]
   |
   | The resource 'limit' specifies an upper limit to prevent applications
   | from flooding the cluster and/or prevent jobs from consuming all the
   | available licenses. A negative limit is subtracted from the total
   | to obtain the limit. [Format: INTEGER]
   |
   | Derived resources are combined from sub-elements and inherit the
   | limits from their sub-elements.
   |
   | Resources that are not served and not derived are internal resources
   + -->
 <resources>
  <resource name="foam"/>
  <resource name="gtpower" served="GTpowerX" limit="4"/>
  <resource name="abaqus" served="abaqus"/>
  <resource name="nastran" served="NASTRAN" limit="3"/>
  <resource name="starp" served="hpcdomains" note="STAR-CD parallel"/>
  <resource name="stars" served="starsuite" limit="2" note="STAR-CD serial"/>
  <resource name="starjob" served="starpar" note="STAR-CD parallel starter"/>
<!--
   The daemon seems to be unreliable, don't bother querying for this feature.
   Manage like an internal resource and the user worry about possible
   external license use themselves.
   <resource name="thomat" served="JT" note="abaqus high temperature modelling"/>
-->
  <resource name="thomat" note="abaqus high temperature modelling"/>
  <resource name="hexa" served="aihexa" type="track"/>
  <resource name="ansys" served="ansys" type="track"/>
  <resource name="gtise" served="GTise" type="track"/>
  <resource name="hyper" served="HyperWorks" type="track"/>
  <resource name="med" served="aimed" type="track"/>
  <resource name="proam" served="proam" type="track"/>
  <resource name="prostar" served="prostar" type="track"/>
  <resource name="tetra" served="aitetra" type="track"/>
  <derived name="starcd" urgency="100">
   <element>starp</element>
   <element>stars</element>
  </derived>
 </resources>
</qlicserverConfig>
