<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>flex-grid: gridengine integration</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="flex-grid gridengine integration qlicserver" />
<meta name="language" content="en" />

<link href="css/layout_2col_left_13.css" rel="stylesheet" type="text/css"/>
<!--[if lte IE 7]>
<link href="css/patches/patch_2col_left_13.css" rel="stylesheet" type="text/css"/>
<![endif]-->
<link href="css/screen/images/xmlqstat.png" rel="shortcut icon" type="image/png"/>

</head>

<body>
<div class="page_margins">
  <div class="page">
    <div id="header">
      <div class="subcolumns">
        <div class="c75l">
          <img
            src="css/screen/images/flex-grid.png"
            alt="flex-grid logo"
            />
        </div>
        <div class="c25r" style="text-align: right">
          <a href="http://github.com/olesenm/flex-grid"
            title="GitHub repository">
            <img
              src="css/screen/images/github-repo.png"
              alt="GitHub repository" />
          </a>
        </div>
      </div>

      Tools for
      <a href="http://en.wikipedia.org/wiki/Grid_Engine">GridEngine</a>
      integration &ndash; also known as <b>qlicserver</b>,
      provided by
      <a
        href="http://olesenm.github.com"
        title="Mark Olesen - blog..."
        >Mark Olesen</a>

    </div>

