<!-- sidebar with source code/project links -->
<h6 class="vlist">get latest source code</h6>
<ul class="vlist">
  <li><a href="http://github.com/olesenm/flex-grid">olesenm/flex-grid</a></li>
  <li><a href="http://github.com/olesenm/flex-grid/tarball/master">tar.gz file</a></li>
</ul>
<h6 class="vlist">related projects</h6>
<ul class="vlist">
  <li><a href="http://olesenm.github.com/xml-qstat">xml-qstat (fork)</a></li>
</ul>
<h6 class="vlist">quick links</h6>
<ul class="vlist">
  <li><a href="http://gridengine.sunsource.net">Grid Engine project</a></li>
  <li><a href="http://wiki.gridengine.info/wiki">wiki.gridengine.info/wiki</a></li>
  <li>
    <a
      href="http://wiki.gridengine.info/wiki/index.php/Olesen-FLEXlm-Integration"
      >Chris' quick-start notes</a>
  </li>
</ul>
